@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Silkscreen";
        src: url(public/fonts/Silkscreen/slkscr.ttf);
    }
    html{
        font-family: "Silkscreen";
    }
}